section {
    padding: 60px 0;
}


.showcase-img {
    background-position: center;
    background-size    : cover;
}

.team-item {
    max-width: 200px;
}

@media only screen and (max-width: 768px) {
    .showcase-img {
        height: 300px;
    }
}